<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <style>
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
height:13%;
}
li1
{
float:left;
width:25%;
}
li2
{
float:left;
width:25%;
}
li3
{
float:left;
width:25%;
}
li4
{
float:left;
width:25%;
}


a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:10px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#cc0000;
}

</style>
</head>
<body>
<ul>
    <li1><a href="/sourceManage"  target="content">数据源管理</a></li1>
    <li2><a href="/listCurrentTask"  target="content">任务管理</a></li2>
    <li3><a href="/jobManage"  target="content">部件管理</a></li3>
    <li4><a href="/dataManage"  target="content">数据管理</a></li4>
</ul>
</body>

</html>